<a href="https://colab.research.google.com/github/David-000001/Machine-learning-project/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
df = pd.read_csv('/content/Water_Consumption_And_Cost__2013_-_Feb_2023_.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50315 entries, 0 to 50314
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Development Name     50255 non-null  object
 1   Borough              50315 non-null  object
 2   Account Name         50315 non-null  object
 3   Location             49487 non-null  object
 4   Meter AMR            49805 non-null  object
 5   Meter Scope          12782 non-null  object
 6   TDS #                50255 non-null  float64
 7   EDP                  50315 non-null  int64
 8   RC Code              50315 non-null  object
 9   Funding Source       50239 non-null  object
 10  AMP #                50193 non-null  object
 11  Vendor Name          50315 non-null  object
 12  UMIS BILL ID         50315 non-null  int64
 13  Revenue Month        50315 non-null  object
 14  Service Start Date   50308 non-null  object
 15  Service End Date     50308 non-null  object
 16  # days               50308 non-null  float64
 17  Meter Number         50315 non-null  object
 18  Estimated            50315 non-null  object
 19  Current Charges      50315 non-null  float64
 20  Rate Class           50279 non-null  object
 21  Bill Analyzed        50315 non-null  object
 22  Consumption (HCF)    50315 non-null  int64
 23  Water&Sewer Charges  50315 non-null  float64
 24  Other Charges        50315 non-null  float64
dtypes: float64(5), int64(3), object(17)
memory usage: 9.6+ MB